In [8]:
import pandas as pd
import numpy as np
from scipy import stats

In [19]:
df = pd.read_csv('sap_storing_data_hu_subset.csv', low_memory=False)

df = df.drop(columns=['stm_sap_mon_meld_ddt', 'stm_mon_begin_ddt', 'stm_mon_toelichting_trdl', 'stm_oh_pg_mld',
                 'stm_scenario_mon', 'stm_mon_nr_status_omschr', 'stm_mon_nr__statuscode', 'stm_mon_nr_status_wijzdd',
                 'stm_aanntpl_ddt', 'stm_objectdl_code_gst', 'stm_objectdl_groep_gst', 'stm_progfh_in_ddt',
                 'stm_progfh_in_invoer_ddt', 'stm_progfh_gw_ddt', 'stm_progfh_gw_lwd_ddt', 'stm_progfh_hz',
                 'stm_veroorz_groep', 'stm_veroorz_code', 'stm_veroorz_tekst_kort', 'stm_effect', 'stm_afspr_aanvangddt',
                 'stm_mon_eind_ddt', 'stm_mon_vhdsincident', 'stm_dir_betrok_tr', 'stm_aangelegd_dd', 'stm_aangelegd_tijd',
                 'stm_mon_begindatum', 'stm_mon_begintijd', 'stm_progfh_gw_datum', 'stm_mon_eind_datum', 'stm_mon_eind_tijd',
                 'stm_controle_dd', 'stm_akkoord_mon_toewijz', 'stm_status_sapnaarmon', 'stm_fact_jn', 'stm_akkoord_melding_jn',
                 'stm_afsluit_ddt', 'stm_afsluit_dd', 'stm_afsluit_tijd', 'stm_rec_toegev_ddt', 'stm_hinderwaarde',
                 'stm_actie', 'stm_standplaats', 'stm_status_gebr', 'stm_wbi_nummer', 'stm_projnr', 'stm_historie_toelichting',
                 'stm_schade_verhaalb_jn', 'stm_schadenr', 'stm_schade_status_ga', 'stm_schade_statusdatum', 'stm_relatiervo_vorig',
                 'stm_relatiervo_volgend', 'stm_relatiervo', 'stm_afspr_func_hersteldd', 'stm_afspr_func_hersteltijd',
                 'stm_sorteerveld', 'stm_rapportage_maand', 'stm_rapportage_jaar', 'stm_x_bron_publ_dt', 'stm_x_bron_bestandsnaam',
                 'stm_x_bron_arch_dt', 'stm_x_actueel_ind', 'stm_x_run_id', 'stm_x_bk', 'stm_x_start_sessie_dt', 'stm_x_vervallen_ind'])

df.to_csv('ddb_data_NaN_included.csv', index=False)

In [22]:
import pandas as pd
import numpy as np


df = pd.read_csv('ddb_data_NaN_included.csv', low_memory=False)

non_nan = df.notna().sum()
nan = df.isna().sum()
temp = []
avg_list = {}
mode_list = {}
for i in df.columns:
    print(f'filtered results for {i}: \n values:{non_nan[i]} \n NaN_values:{nan[i]}')
    if non_nan[i] < (nan[i] + non_nan[i])*0.8:
        print(f'{i} has been removed')
        temp.append(i)
    else:
        df[i] = df[i].astype(type(df[i][1]), errors='raise')
        if isinstance(df[i][1], (float, np.float64, np.int64)):
            avg = df[i].mean()
            mode = df[i].mode(dropna=True)
            df[i] = df[i].fillna(avg)
            avg_list[i] = avg
            mode_list[i] = mode
        else:
            df[i] = df[i].str.strip().str.lower().replace(['nan', 'none'], np.nan)
            mode = df[i].mode(dropna=True)
            df[i] = df[i].fillna(mode[0])
        print(f'{i} is usable and has mode: {mode}')
        print(f'{i} variables are of type: {type(df[i][1])}')

df.drop(temp, axis=1, inplace=True)
print(df)
print(avg_list)
print(mode_list)

df.to_csv('final_db.csv', index=False)
"""
het is allemaal een beetje chaotisch momenteel omdat het nu nog alleen voor data formatting is.
Alles zit in 1 loop voor om het compact te houden, maar het kan later in een notebook apart.
alle kolommen met meer dan 20% missende waardes worden gelijk verwijdert voor ruimt + die data is nauwelijks betrouwbaar.
Kolommen zijn uniform in datatype. 
alle missende waardes voor de overige kolommen worden gevuld met de modus of het gemiddelde.
index 0 van veel kolommen had type problemen, dus ik heb [1] gebruikt in die instanties. 
Er zijn denk ik nog een paar verbeteringen die kunnen worden gedaan + uitschieters zijn nog niet behandeld.
Maar dat kan donderdag.
hieronder heb ik ook alle variables gezet overblijven na het cleanen voor nu met type ernaast:

unnamed <class 'str'>
stm_sap_meldnr <class 'np.int64'>
stm_mon_nr <class 'numpy.float64'>
stm_sap_meld_ddt <class 'float'>
stm_sap_meldtekst_lang <class 'float'>

stm_sap_meldtekst <class 'float'>
stm_geo_mld <class 'float'>
stm_geo_mld_uit_functiepl <class 'numpy.float64'>
stm_km_van_mld <class 'numpy.float64'>
stm_km_tot_mld <class 'numpy.float64'>

stm_prioriteit <class 'numpy.float64'>
stm_status_melding_sap <class 'float'>
stm_aanngeb_ddt <class 'float'>
stm_oh_pg_gst <class 'float'>
stm_geo_gst <class 'float'>

stm_geo_gst_uit_functiepl <class 'numpy.float64'>
stm_km_van_gst <class 'numpy.float64'>
stm_km_tot_gst <class 'numpy.float64'>
stm_oorz_groep <class 'float'>
stm_oorz_code <class 'numpy.float64'> 

stm_oorz_tkst <class 'float'>
stm_fh_ddt <class 'float'>
stm_fh_status <class 'numpy.float64'>
stm_tao_indicator <class 'str'> 
stm_tao_telling_mutatie <class 'numpy.int64'>

stm_tao_beinvloedbaar_indicator <class 'str'>
stm_evb <class 'float'>
stm_sap_melddatum <class 'float'>
stm_sap_meldtijd <class 'float'>
stm_functiepl_mld <class 'float'>

stm_contractgeb_gst <class 'numpy.float64'>
stm_functiepl_gst <class 'float'>
stm_techn_gst <class 'float'>
stm_aanngeb_dd <class 'float'>
stm_aanngeb_tijd <class 'float'>

stm_aanntpl_tijd <class 'float'>
stm_arbeid <class 'numpy.float64'>
stm_progfh_in_tijd <class 'float'>
stm_progfh_in_invoer_tijd <class 'float'>
stm_progfh_in_duur <class 'float'>

stm_progfh_gw_tijd <class 'float'>
stm_progfh_gw_duur <class 'float'>
stm_progfh_gw_teller <class 'numpy.float64'>
stm_afspr_aanvangdd <class 'float'>
stm_afspr_aanvangtijd <class 'float'>

stm_fh_dd <class 'float'>
stm_fh_tijd <class 'float'>
stm_fh_duur <class 'numpy.float64'>
stm_reactie_duur <class 'numpy.float64'> 
stm_sap_storeindtijd <class 'float'>
"""

filtered results for Unnamed: 0:
 values:79
 NaN_values:0
Unnamed: 0 is usable and has mode: 0          1
1          2
2          3
3          4
4          5
       ...
74    908625
75    908626
76    908627
77    908628
78    908629
Name: Unnamed: 0, Length: 79, dtype: int64
Unnamed: 0 variables are of type: <class 'numpy.int64'>
filtered results for #stm_sap_meldnr:
 values:79
 NaN_values:0
#stm_sap_meldnr is usable and has mode: 0    99003502
Name: #stm_sap_meldnr, dtype: int64
#stm_sap_meldnr variables are of type: <class 'numpy.int64'>
filtered results for stm_mon_nr:
 values:79
 NaN_values:0
stm_mon_nr is usable and has mode: 0    0.0
Name: stm_mon_nr, dtype: float64
stm_mon_nr variables are of type: <class 'numpy.float64'>
filtered results for stm_vl_post:
 values:26
 NaN_values:53
stm_vl_post has been removed
filtered results for stm_sap_meld_ddt:
 values:79
 NaN_values:0
stm_sap_meld_ddt is usable and has mode: 0    11/05/2013 07:17:00
Name: stm_sap_meld_ddt, dtype: object
stm_sap_meld_ddt variables are of type: <class 'str'>
filtered results for stm_sap_meldtekst_lang:
 values:79
 NaN_values:0
stm_sap_meldtekst_lang is usable and has mode: 0    cup : wl-4439 2 in/uit de storing.
Name: stm_sap_meldtekst_lang, dtype: object
stm_sap_meldtekst_lang variables are of type: <class 'str'>
filtered results for stm_sap_meldtekst:
 values:79
 NaN_values:0
stm_sap_meldtekst is usable and has mode: 0    cup : wl-4439 2 in/uit de storing.
Name: stm_sap_meldtekst, dtype: object
stm_sap_meldtekst variables are of type: <class 'str'>
filtered results for stm_geo_mld:
 values:79
 NaN_values:0
stm_geo_mld is usable and has mode: 0    155.0
Name: stm_geo_mld, dtype: float64
stm_geo_mld variables are of type: <class 'numpy.float64'>
filtered results for stm_geo_mld_uit_functiepl:
 values:79
 NaN_values:0
stm_geo_mld_uit_functiepl is usable and has mode: 0    155.0
Name: stm_geo_mld_uit_functiepl, dtype: float64
stm_geo_mld_uit_functiepl variables are of type: <class 'numpy.float64'>
filtered results for stm_equipm_nr_mld:
 values:38
 NaN_values:41
stm_equipm_nr_mld has been removed
filtered results for stm_equipm_soort_mld:
 values:38
 NaN_values:41
stm_equipm_soort_mld has been removed
filtered results for stm_equipm_omschr_mld:
 values:38
 NaN_values:41
stm_equipm_omschr_mld has been removed
filtered results for stm_km_van_mld:
 values:79
 NaN_values:0
stm_km_van_mld is usable and has mode: 0    0.0
Name: stm_km_van_mld, dtype: float64
stm_km_van_mld variables are of type: <class 'numpy.float64'>
filtered results for stm_km_tot_mld:
 values:79
 NaN_values:0
stm_km_tot_mld is usable and has mode: 0    0.0
Name: stm_km_tot_mld, dtype: float64
stm_km_tot_mld variables are of type: <class 'numpy.float64'>
filtered results for stm_prioriteit:
 values:79
 NaN_values:0
stm_prioriteit is usable and has mode: 0    9.0
Name: stm_prioriteit, dtype: float64
stm_prioriteit variables are of type: <class 'numpy.float64'>
filtered results for stm_status_melding_sap:
 values:79
 NaN_values:0
stm_status_melding_sap is usable and has mode: 0    mafs
Name: stm_status_melding_sap, dtype: object
stm_status_melding_sap variables are of type: <class 'str'>
filtered results for stm_aanngeb_ddt:
 values:79
 NaN_values:0
stm_aanngeb_ddt is usable and has mode: 0    11/05/2013 07:17:00
Name: stm_aanngeb_ddt, dtype: object
stm_aanngeb_ddt variables are of type: <class 'str'>
filtered results for stm_oh_pg_gst:
 values:79
 NaN_values:0
stm_oh_pg_gst is usable and has mode: 0    71s
Name: stm_oh_pg_gst, dtype: object
stm_oh_pg_gst variables are of type: <class 'str'>
filtered results for stm_geo_gst:
 values:70
 NaN_values:9
stm_geo_gst is usable and has mode: 0    155.0
Name: stm_geo_gst, dtype: float64
stm_geo_gst variables are of type: <class 'numpy.float64'>
filtered results for stm_geo_gst_uit_functiepl:
 values:70
 NaN_values:9
stm_geo_gst_uit_functiepl is usable and has mode: 0    155.0
Name: stm_geo_gst_uit_functiepl, dtype: float64
stm_geo_gst_uit_functiepl variables are of type: <class 'numpy.float64'>
filtered results for stm_equipm_nr_gst:
 values:36
 NaN_values:43
stm_equipm_nr_gst has been removed
filtered results for stm_equipm_soort_gst:
 values:36
 NaN_values:43
stm_equipm_soort_gst has been removed
filtered results for stm_equipm_omschr_gst:
 values:36
 NaN_values:43
stm_equipm_omschr_gst has been removed
filtered results for stm_km_van_gst:
 values:79
 NaN_values:0
stm_km_van_gst is usable and has mode: 0    0.0
Name: stm_km_van_gst, dtype: float64
stm_km_van_gst variables are of type: <class 'numpy.float64'>
filtered results for stm_km_tot_gst:
 values:79
 NaN_values:0
stm_km_tot_gst is usable and has mode: 0    0.0
Name: stm_km_tot_gst, dtype: float64
stm_km_tot_gst variables are of type: <class 'numpy.float64'>
filtered results for stm_oorz_groep:
 values:75
 NaN_values:4
stm_oorz_groep is usable and has mode: 0    techonv
Name: stm_oorz_groep, dtype: object
stm_oorz_groep variables are of type: <class 'str'>
filtered results for stm_oorz_code:
 values:75
 NaN_values:4
stm_oorz_code is usable and has mode: 0    142.0
Name: stm_oorz_code, dtype: float64
stm_oorz_code variables are of type: <class 'numpy.float64'>
filtered results for stm_oorz_tkst:
 values:43
 NaN_values:36
stm_oorz_tkst has been removed
filtered results for stm_fh_ddt:
 values:76
 NaN_values:3
stm_fh_ddt is usable and has mode: 0    13/05/2013 02:29:00
Name: stm_fh_ddt, dtype: object
stm_fh_ddt variables are of type: <class 'str'>
filtered results for stm_fh_status:
 values:76
 NaN_values:3
stm_fh_status is usable and has mode: 0    4.0
Name: stm_fh_status, dtype: float64
stm_fh_status variables are of type: <class 'numpy.float64'>
filtered results for stm_sap_storeind_ddt:
 values:66
 NaN_values:13
stm_sap_storeind_ddt is usable and has mode: 0    13/05/2013 02:30:00
Name: stm_sap_storeind_ddt, dtype: object
stm_sap_storeind_ddt variables are of type: <class 'str'>
filtered results for stm_tao_indicator:
 values:79
 NaN_values:0
stm_tao_indicator is usable and has mode: 0    n
Name: stm_tao_indicator, dtype: object
stm_tao_indicator variables are of type: <class 'str'>
filtered results for stm_tao_indicator_vorige:
 values:27
 NaN_values:52
stm_tao_indicator_vorige has been removed
filtered results for stm_tao_soort_mutatie:
 values:2
 NaN_values:77
stm_tao_soort_mutatie has been removed
filtered results for stm_tao_telling_mutatie:
 values:79
 NaN_values:0
stm_tao_telling_mutatie is usable and has mode: 0    0
Name: stm_tao_telling_mutatie, dtype: int64
stm_tao_telling_mutatie variables are of type: <class 'numpy.int64'>
filtered results for stm_tao_beinvloedbaar_indicator:
 values:79
 NaN_values:0
stm_tao_beinvloedbaar_indicator is usable and has mode: 0    b
Name: stm_tao_beinvloedbaar_indicator, dtype: object
stm_tao_beinvloedbaar_indicator variables are of type: <class 'str'>
filtered results for stm_evb:
 values:79
 NaN_values:0
stm_evb is usable and has mode: 0    0,00
Name: stm_evb, dtype: object
stm_evb variables are of type: <class 'str'>
filtered results for stm_sap_melddatum:
 values:79
 NaN_values:0
stm_sap_melddatum is usable and has mode: 0    11/12/2016
Name: stm_sap_melddatum, dtype: object
stm_sap_melddatum variables are of type: <class 'str'>
filtered results for stm_sap_meldtijd:
 values:79
 NaN_values:0
stm_sap_meldtijd is usable and has mode: 0    07:17:00
Name: stm_sap_meldtijd, dtype: object
stm_sap_meldtijd variables are of type: <class 'str'>
filtered results for stm_contractgeb_mld:
 values:38
 NaN_values:41
stm_contractgeb_mld has been removed
filtered results for stm_functiepl_mld:
 values:79
 NaN_values:0
stm_functiepl_mld is usable and has mode: 0    155-302-1000128525
Name: stm_functiepl_mld, dtype: object
stm_functiepl_mld variables are of type: <class 'str'>
filtered results for stm_techn_mld:
 values:38
 NaN_values:41
stm_techn_mld has been removed
filtered results for stm_contractgeb_gst:
 values:79
 NaN_values:0
stm_contractgeb_gst is usable and has mode: 0    71.0
Name: stm_contractgeb_gst, dtype: float64
stm_contractgeb_gst variables are of type: <class 'numpy.float64'>
filtered results for stm_functiepl_gst:
 values:70
 NaN_values:9
stm_functiepl_gst is usable and has mode: 0    155-302-1000128525
Name: stm_functiepl_gst, dtype: object
stm_functiepl_gst variables are of type: <class 'str'>
filtered results for stm_techn_gst:
 values:79
 NaN_values:0
stm_techn_gst is usable and has mode: 0    b
Name: stm_techn_gst, dtype: object
stm_techn_gst variables are of type: <class 'str'>
filtered results for stm_aanngeb_dd:
 values:79
 NaN_values:0
stm_aanngeb_dd is usable and has mode: 0    11/12/2016
Name: stm_aanngeb_dd, dtype: object
stm_aanngeb_dd variables are of type: <class 'str'>
filtered results for stm_aanngeb_tijd:
 values:79
 NaN_values:0
stm_aanngeb_tijd is usable and has mode: 0    07:17:00
Name: stm_aanngeb_tijd, dtype: object
stm_aanngeb_tijd variables are of type: <class 'str'>
filtered results for stm_aanntpl_dd:
 values:45
 NaN_values:34
stm_aanntpl_dd has been removed
filtered results for stm_aanntpl_tijd:
 values:79
 NaN_values:0
stm_aanntpl_tijd is usable and has mode: 0    00:00:00
Name: stm_aanntpl_tijd, dtype: object
stm_aanntpl_tijd variables are of type: <class 'str'>
filtered results for stm_arbeid:
 values:79
 NaN_values:0
stm_arbeid is usable and has mode: 0    99999999.0
Name: stm_arbeid, dtype: float64
stm_arbeid variables are of type: <class 'numpy.float64'>
filtered results for stm_progfh_in_datum:
 values:42
 NaN_values:37
stm_progfh_in_datum has been removed
filtered results for stm_progfh_in_tijd:
 values:79
 NaN_values:0
stm_progfh_in_tijd is usable and has mode: 0    00:00:00
Name: stm_progfh_in_tijd, dtype: object
stm_progfh_in_tijd variables are of type: <class 'str'>
filtered results for stm_progfh_in_invoer_dat:
 values:42
 NaN_values:37
stm_progfh_in_invoer_dat has been removed
filtered results for stm_progfh_in_invoer_tijd:
 values:79
 NaN_values:0
stm_progfh_in_invoer_tijd is usable and has mode: 0    00:00:00
Name: stm_progfh_in_invoer_tijd, dtype: object
stm_progfh_in_invoer_tijd variables are of type: <class 'str'>
filtered results for stm_progfh_in_duur:
 values:79
 NaN_values:0
stm_progfh_in_duur is usable and has mode: 0    99999999.0
Name: stm_progfh_in_duur, dtype: float64
stm_progfh_in_duur variables are of type: <class 'numpy.float64'>
filtered results for stm_progfh_gw_tijd:
 values:79
 NaN_values:0
stm_progfh_gw_tijd is usable and has mode: 0    00:00:00
Name: stm_progfh_gw_tijd, dtype: object
stm_progfh_gw_tijd variables are of type: <class 'str'>
filtered results for stm_progfh_gw_lwd_datum:
 values:0
 NaN_values:79
stm_progfh_gw_lwd_datum has been removed
filtered results for stm_progfh_gw_lwd_tijd:
 values:0
 NaN_values:79
stm_progfh_gw_lwd_tijd has been removed
filtered results for stm_progfh_gw_duur:
 values:79
 NaN_values:0
stm_progfh_gw_duur is usable and has mode: 0    99999999.0
Name: stm_progfh_gw_duur, dtype: float64
stm_progfh_gw_duur variables are of type: <class 'numpy.float64'>
filtered results for stm_progfh_gw_teller:
 values:79
 NaN_values:0
stm_progfh_gw_teller is usable and has mode: 0    0.0
Name: stm_progfh_gw_teller, dtype: float64
stm_progfh_gw_teller variables are of type: <class 'numpy.float64'>
filtered results for stm_afspr_aanvangdd:
 values:79
 NaN_values:0
stm_afspr_aanvangdd is usable and has mode: 0    00/00/0000
Name: stm_afspr_aanvangdd, dtype: object
stm_afspr_aanvangdd variables are of type: <class 'str'>
filtered results for stm_afspr_aanvangtijd:
 values:79
 NaN_values:0
stm_afspr_aanvangtijd is usable and has mode: 0    00:00:00
Name: stm_afspr_aanvangtijd, dtype: object
stm_afspr_aanvangtijd variables are of type: <class 'str'>
filtered results for stm_fh_dd:
 values:79
 NaN_values:0
stm_fh_dd is usable and has mode: 0    11/12/2016
Name: stm_fh_dd, dtype: object
stm_fh_dd variables are of type: <class 'str'>
filtered results for stm_fh_tijd:
 values:79
 NaN_values:0
stm_fh_tijd is usable and has mode: 0    02:29:00
Name: stm_fh_tijd, dtype: object
stm_fh_tijd variables are of type: <class 'str'>
filtered results for stm_fh_duur:
 values:79
 NaN_values:0
stm_fh_duur is usable and has mode: 0    0.0
Name: stm_fh_duur, dtype: float64
stm_fh_duur variables are of type: <class 'numpy.float64'>
filtered results for stm_reactie_duur:
 values:79
 NaN_values:0
stm_reactie_duur is usable and has mode: 0    99999999.0
Name: stm_reactie_duur, dtype: float64
stm_reactie_duur variables are of type: <class 'numpy.float64'>
filtered results for stm_sap_storeinddatum:
 values:66
 NaN_values:13
stm_sap_storeinddatum is usable and has mode: 0    23/01/2006
Name: stm_sap_storeinddatum, dtype: object
stm_sap_storeinddatum variables are of type: <class 'str'>
filtered results for stm_sap_storeindtijd:
 values:79
 NaN_values:0
stm_sap_storeindtijd is usable and has mode: 0    00:00:00
Name: stm_sap_storeindtijd, dtype: object
stm_sap_storeindtijd variables are of type: <class 'str'>
filtered results for stm_oorz_tekst_kort:
 values:40
 NaN_values:39
stm_oorz_tekst_kort has been removed
filtered results for stm_pplg_van:
 values:4
 NaN_values:75
stm_pplg_van has been removed
filtered results for stm_pplg_naar:
 values:1
 NaN_values:78
stm_pplg_naar has been removed
filtered results for stm_dstrglp_van:
 values:26
 NaN_values:53
stm_dstrglp_van has been removed
filtered results for stm_dstrglp_naar:
 values:25
 NaN_values:54
stm_dstrglp_naar has been removed
    Unnamed: 0  #stm_sap_meldnr  stm_mon_nr     stm_sap_meld_ddt  \
0            1         50053211         0.0  02/01/2006 09:00:00
1            2         50053213        48.0  02/01/2006 12:35:00
2            3         50053214        72.0  02/01/2006 16:40:00
3            4         50053215        96.0  02/01/2006 22:30:00
4            5         50053218        38.0  02/01/2006 11:23:00
..         ...              ...         ...                  ...
74      908625         99003505         0.0  11/05/2013 08:06:00
75      908626         99003506         0.0  11/05/2013 09:21:00
76      908627         99003506         0.0  11/05/2013 09:21:00
77      908628         99999999         0.0  20/08/2016 14:15:17
78      908629         99999999         0.0  20/08/2016 14:15:17

                               stm_sap_meldtekst_lang  \
0   logboeknr  geeltje  :   49 tijd: 0900   vl-pos...
1   logboeknr  rbv  :   48 tijd: 1235   vl-post: g...
2   logboeknr  rbv  :   72 tijd: 1640   vl-post: z...
3   logboeknr  rbv  :   96 tijd: 2230   vl-post: z...
4   logboeknr  rbv  :   38 tijd: 1123   vl-post: e...
..                                                ...
74  gvc : sp-2 en 3  stop lampen op de stootjukken...
75  whz : ovw 100.1 albert plesmanweg blijft  dich...
76  whz : ovw 100.1 albert plesmanweg blijft  dich...
77  bdg-apn : km 12.7 twee gedode zwanen langs het...
78  bdg-apn : km 12.7 twee gedode zwanen langs het...

                           stm_sap_meldtekst  stm_geo_mld  \
0      logboeknr  geeltje  :   49 tijd: 0900        624.0
1   logboeknr  rbv  :   48 tijd: 1235   vl-p        201.0
2   logboeknr  rbv  :   72 tijd: 1640   vl-p         25.0
3   logboeknr  rbv  :   96 tijd: 2230   vl-p         12.0
4   logboeknr  rbv  :   38 tijd: 1123   vl-p        614.0
..                                       ...          ...
74  gvc : sp-2 en 3  stop lampen op de stoot        560.0
75  whz : ovw 100.1 albert plesmanweg blijft        468.0
76  whz : ovw 100.1 albert plesmanweg blijft        468.0
77  bdg-apn : km 12.7 twee gedode zwanen lan        102.0
78  bdg-apn : km 12.7 twee gedode zwanen lan        102.0

    stm_geo_mld_uit_functiepl  stm_km_van_mld  stm_km_tot_mld  ...  \
0                       624.0             0.0             0.0  ...
1                       201.0             0.0             0.0  ...
2                        25.0             0.0             0.0  ...
3                        12.0             0.0             0.0  ...
4                       614.0             0.0             0.0  ...
..                        ...             ...             ...  ...
74                      560.0         24500.0             0.0  ...
75                      468.0        100051.0             0.0  ...
76                      468.0        100051.0             0.0  ...
77                      102.0             0.0             0.0  ...
78                      102.0             0.0             0.0  ...

    stm_progfh_gw_duur stm_progfh_gw_teller stm_afspr_aanvangdd  \
0           99999999.0                  0.0          00/00/0000
1           99999999.0                  0.0          00/00/0000
2           99999999.0                  0.0          00/00/0000
3           99999999.0                  0.0          00/00/0000
4           99999999.0                  0.0          00/00/0000
..                 ...                  ...                 ...
74          99999999.0                  0.0          00/00/0000
75          99999999.0                  0.0          00/00/0000
76          99999999.0                  0.0          00/00/0000
77          99999999.0                  0.0          00/00/0000
78          99999999.0                  0.0          00/00/0000

   stm_afspr_aanvangtijd   stm_fh_dd  stm_fh_tijd  stm_fh_duur  \
0               00:00:00  02/01/2006     09:00:00          0.0
1               00:00:00  02/01/2006     13:26:00         51.0
2               00:00:00  02/01/2006     17:20:00         40.0
3               00:00:00  02/01/2006     22:36:00          6.0
4               00:00:00  02/01/2006     11:30:00          7.0
..                   ...         ...          ...          ...
74              00:00:00  11/05/2013     09:29:00         83.0
75              00:00:00  11/05/2013     10:44:00         83.0
76              00:00:00  11/05/2013     10:44:00         83.0
77              00:00:00  20/08/2016     15:14:00         19.0
78              00:00:00  20/08/2016     15:14:00         19.0

    stm_reactie_duur stm_sap_storeinddatum  stm_sap_storeindtijd
0       1.000000e+08            02/01/2006              09:00:00
1       1.000000e+08            02/01/2006              13:26:00
2       1.000000e+08            02/01/2006              17:20:00
3       1.000000e+08            02/01/2006              22:36:00
4       1.000000e+08            23/01/2006              00:00:00
..               ...                   ...                   ...
74      5.900000e+01            11/05/2013              09:30:00
75      4.700000e+01            11/05/2013              10:44:00
76      4.700000e+01            11/05/2013              10:44:00
77      1.060125e+09            20/08/2016              15:15:00
78      1.060125e+09            20/08/2016              15:15:00

[79 rows x 51 columns]
{'Unnamed: 0': 480699.03797468357, '#stm_sap_meldnr': 72455202.31645569, 'stm_mon_nr': 217569.54430379748, 'stm_geo_mld': 313.8354430379747, 'stm_geo_mld_uit_functiepl': 313.8354430379747, 'stm_km_van_mld': 24438.177215189873, 'stm_km_tot_mld': 7409.848101265823, 'stm_prioriteit': 5.746835443037975, 'stm_geo_gst': 298.74285714285713, 'stm_geo_gst_uit_functiepl': 298.74285714285713, 'stm_km_van_gst': 33818.443037974685, 'stm_km_tot_gst': 7409.848101265823, 'stm_oorz_code': 190.4, 'stm_fh_status': 2.8289473684210527, 'stm_tao_telling_mutatie': 0.012658227848101266, 'stm_contractgeb_gst': 29.88607594936709, 'stm_arbeid': 39240527.164556965, 'stm_progfh_in_duur': 41772227.468354434, 'stm_progfh_gw_duur': 99999999.0, 'stm_progfh_gw_teller': 0.0, 'stm_fh_duur': 372.44303797468353, 'stm_reactie_duur': 186871655.07594937}
{'Unnamed: 0': 0          1
1          2
2          3
3          4
4          5
       ...
74    908625
75    908626
76    908627
77    908628
78    908629
Name: Unnamed: 0, Length: 79, dtype: int64, '#stm_sap_meldnr': 0    99003502
Name: #stm_sap_meldnr, dtype: int64, 'stm_mon_nr': 0    0.0
Name: stm_mon_nr, dtype: float64, 'stm_geo_mld': 0    155.0

"\nhet is allemaal een beetje chaotisch momenteel omdat het nu nog alleen voor data formatting is.\nAlles zit in 1 loop voor om het compact te houden, maar het kan later in een notebook apart.\nalle kolommen met meer dan 20% missende waardes worden gelijk verwijdert voor ruimt + die data is nauwelijks betrouwbaar.\nKolommen zijn uniform in datatype. \nalle missende waardes voor de overige kolommen worden gevuld met de modus of het gemiddelde.\nindex 0 van veel kolommen had type problemen, dus ik heb [1] gebruikt in die instanties. \nEr zijn denk ik nog een paar verbeteringen die kunnen worden gedaan + uitschieters zijn nog niet behandeld.\nMaar dat kan donderdag.\nhieronder heb ik ook alle variables gezet overblijven na het cleanen voor nu met type ernaast:\n\nunnamed <class 'str'>\nstm_sap_meldnr <class 'np.int64'>\nstm_mon_nr <class 'numpy.float64'>\nstm_sap_meld_ddt <class 'float'>\nstm_sap_meldtekst_lang <class 'float'>\n\nstm_sap_meldtekst <class 'float'>\nstm_geo_mld <class 'float'>\nstm_geo_mld_uit_functiepl <class 'numpy.float64'>\nstm_km_van_mld <class 'numpy.float64'>\nstm_km_tot_mld <class 'numpy.float64'>\n\nstm_prioriteit <class 'numpy.float64'>\nstm_status_melding_sap <class 'float'>\nstm_aanngeb_ddt <class 'float'>\nstm_oh_pg_gst <class 'float'>\nstm_geo_gst <class 'float'>\n\nstm_geo_gst_uit_functiepl <class 'numpy.float64'>\nstm_km_van_gst <class 'numpy.float64'>\nstm_km_tot_gst <class 'numpy.float64'>\nstm_oorz_groep <class 'float'>\nstm_oorz_code <class 'numpy.float64'> \n\nstm_oorz_tkst <class 'float'>\nstm_fh_ddt <class 'float'>\nstm_fh_status <class 'numpy.float64'>\nstm_tao_indicator <class 'str'> \nstm_tao_telling_mutatie <class 'numpy.int64'>\n\nstm_tao_beinvloedbaar_indicator <class 'str'>\nstm_evb <class 'float'>\nstm_sap_melddatum <class 'float'>\nstm_sap_meldtijd <class 'float'>\nstm_functiepl_mld <class 'float'>\n\nstm_contractgeb_gst <class 'numpy.float64'>\nstm_functiepl_gst <class 'float'>\nstm_techn_gst <class 'float'>\nstm_aanngeb_dd <class 'float'>\nstm_aanngeb_tijd <class 'float'>\n\nstm_aanntpl_tijd <class 'float'>\nstm_arbeid <class 'numpy.float64'>\nstm_progfh_in_tijd <class 'float'>\nstm_progfh_in_invoer_tijd <class 'float'>\nstm_progfh_in_duur <class 'float'>\n\nstm_progfh_gw_tijd <class 'float'>\nstm_progfh_gw_duur <class 'float'>\nstm_progfh_gw_teller <class 'numpy.float64'>\nstm_afspr_aanvangdd <class 'float'>\nstm_afspr_aanvangtijd <class 'float'>\n\nstm_fh_dd <class 'float'>\nstm_fh_tijd <class 'float'>\nstm_fh_duur <class 'numpy.float64'>\nstm_reactie_duur <class 'numpy.float64'> \nstm_sap_storeindtijd <class 'float'>\n"

In [23]:
df.describe

<bound method NDFrame.describe of     Unnamed: 0  #stm_sap_meldnr  stm_mon_nr     stm_sap_meld_ddt  \
0            1         50053211         0.0  02/01/2006 09:00:00
1            2         50053213        48.0  02/01/2006 12:35:00
2            3         50053214        72.0  02/01/2006 16:40:00
3            4         50053215        96.0  02/01/2006 22:30:00
4            5         50053218        38.0  02/01/2006 11:23:00
..         ...              ...         ...                  ...
74      908625         99003505         0.0  11/05/2013 08:06:00
75      908626         99003506         0.0  11/05/2013 09:21:00
76      908627         99003506         0.0  11/05/2013 09:21:00
77      908628         99999999         0.0  20/08/2016 14:15:17
78      908629         99999999         0.0  20/08/2016 14:15:17

                               stm_sap_meldtekst_lang  \
0   logboeknr  geeltje  :   49 tijd: 0900   vl-pos...
1   logboeknr  rbv  :   48 tijd: 1235   vl-post: g...
2   logboeknr  rbv  :   72 tijd: 1640   vl-post: z...
3   logboeknr  rbv  :   96 tijd: 2230   vl-post: z...
4   logboeknr  rbv  :   38 tijd: 1123   vl-post: e...
..                                                ...
74  gvc : sp-2 en 3  stop lampen op de stootjukken...
75  whz : ovw 100.1 albert plesmanweg blijft  dich...
76  whz : ovw 100.1 albert plesmanweg blijft  dich...
77  bdg-apn : km 12.7 twee gedode zwanen langs het...
78  bdg-apn : km 12.7 twee gedode zwanen langs het...

                           stm_sap_meldtekst  stm_geo_mld  \
0      logboeknr  geeltje  :   49 tijd: 0900        624.0
1   logboeknr  rbv  :   48 tijd: 1235   vl-p        201.0
2   logboeknr  rbv  :   72 tijd: 1640   vl-p         25.0
3   logboeknr  rbv  :   96 tijd: 2230   vl-p         12.0
4   logboeknr  rbv  :   38 tijd: 1123   vl-p        614.0
..                                       ...          ...
74  gvc : sp-2 en 3  stop lampen op de stoot        560.0
75  whz : ovw 100.1 albert plesmanweg blijft        468.0
76  whz : ovw 100.1 albert plesmanweg blijft        468.0
77  bdg-apn : km 12.7 twee gedode zwanen lan        102.0
78  bdg-apn : km 12.7 twee gedode zwanen lan        102.0

    stm_geo_mld_uit_functiepl  stm_km_van_mld  stm_km_tot_mld  ...  \
0                       624.0             0.0             0.0  ...
1                       201.0             0.0             0.0  ...
2                        25.0             0.0             0.0  ...
3                        12.0             0.0             0.0  ...
4                       614.0             0.0             0.0  ...
..                        ...             ...             ...  ...
74                      560.0         24500.0             0.0  ...
75                      468.0        100051.0             0.0  ...
76                      468.0        100051.0             0.0  ...
77                      102.0             0.0             0.0  ...
78                      102.0             0.0             0.0  ...

    stm_progfh_gw_duur stm_progfh_gw_teller stm_afspr_aanvangdd  \
0           99999999.0                  0.0          00/00/0000
1           99999999.0                  0.0          00/00/0000
2           99999999.0                  0.0          00/00/0000
3           99999999.0                  0.0          00/00/0000
4           99999999.0                  0.0          00/00/0000
..                 ...                  ...                 ...
74          99999999.0                  0.0          00/00/0000
75          99999999.0                  0.0          00/00/0000
76          99999999.0                  0.0          00/00/0000
77          99999999.0                  0.0          00/00/0000
78          99999999.0                  0.0          00/00/0000

   stm_afspr_aanvangtijd   stm_fh_dd  stm_fh_tijd  stm_fh_duur  \
0               00:00:00  02/01/2006     09:00:00          0.0
1               00:00:00  02/01/2006     13:26:00         51.0
2               00:00:00  02/01/2006     17:20:00         40.0
3               00:00:00  02/01/2006     22:36:00          6.0
4               00:00:00  02/01/2006     11:30:00          7.0
..                   ...         ...          ...          ...
74              00:00:00  11/05/2013     09:29:00         83.0
75              00:00:00  11/05/2013     10:44:00         83.0
76              00:00:00  11/05/2013     10:44:00         83.0
77              00:00:00  20/08/2016     15:14:00         19.0
78              00:00:00  20/08/2016     15:14:00         19.0

    stm_reactie_duur stm_sap_storeinddatum  stm_sap_storeindtijd
0       1.000000e+08            02/01/2006              09:00:00
1       1.000000e+08            02/01/2006              13:26:00
2       1.000000e+08            02/01/2006              17:20:00
3       1.000000e+08            02/01/2006              22:36:00
4       1.000000e+08            23/01/2006              00:00:00
..               ...                   ...                   ...
74      5.900000e+01            11/05/2013              09:30:00
75      4.700000e+01            11/05/2013              10:44:00
76      4.700000e+01            11/05/2013              10:44:00
77      1.060125e+09            20/08/2016              15:15:00
78      1.060125e+09            20/08/2016              15:15:00

[79 rows x 51 columns]>

In [24]:
# Updated function to handle both scalar and array return types
def mode_per_group(group):
    mode_result = stats.mode(group, keepdims=True)  # Ensure it returns in an array-like format
    return mode_result.mode[0]  # Safely access the mode value

# Calculate baseline (mode) for each oorzaak code
baseline_modes = df.groupby('stm_oorz_code')['stm_fh_duur'].apply(mode_per_group).reset_index()
baseline_modes.columns = ['stm_oorz_code', 'baseline_fh_duur']

# Merge baseline values with the original DataFrame
df = df.merge(baseline_modes, on='stm_oorz_code')

# Calculate the difference between actual time and baseline (mode)
df['difference'] = df['stm_fh_duur'] - df['baseline_fh_duur']

# Example output: print the DataFrame with differences
print(df[['stm_oorz_code', 'stm_fh_duur', 'baseline_fh_duur', 'difference']])

    stm_oorz_code  stm_fh_duur  baseline_fh_duur  difference
0           133.0          0.0               0.0         0.0
1           143.0         51.0              15.0        36.0
2           143.0         15.0              15.0         0.0
3           143.0         53.0              15.0        38.0
4           143.0         19.0              15.0         4.0
..            ...          ...               ...         ...
74          190.4         71.0               0.0        71.0
75          190.4          0.0               0.0         0.0
76          228.0         49.0              49.0         0.0
77          228.0         49.0              49.0         0.0
78          228.0         49.0              49.0         0.0

[79 rows x 4 columns]

In [25]:
# Mean Absolute Error (MAE)
mae = df['difference'].abs().mean()
print(f'Mean Absolute Error (MAE): {mae}')

Mean Absolute Error (MAE): 254.9240506329114

In [26]:
# Step 1: Check if the baseline prediction matches the actual time
df['correct_prediction'] = df['stm_fh_duur'] == df['baseline_fh_duur']

# Step 2: Calculate the accuracy in percentage
accuracy = df['correct_prediction'].mean() * 100

# Print the accuracy
print(f'Accuracy of the baseline model: {accuracy:.2f}%')

Accuracy of the baseline model: 41.77%